@import '~bootstrap/scss/bootstrap';

body {
  background-color: #f7b354;
  color: white;
  font-family: 'Cabin Sketch', sans-serif;
}

// .wrapper {
//   left: 50%;
//   position: fixed;
//   top: 50%;
//   transform: translate(-50%, -50%);
// }

.modal-title {
  color: #000;
}

.modal-body {
  color: #000;
}
