$primary: #f0f0f5;
$danger: #cf7651;

@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab:400,700|Julius+Sans+One|Poiret+One&display=swap');
$main-color: #f0f0f5;
$dark-teal: #244c53;
$coral: #cf7651;
$dark: #4d4c4c;

body {
  background-color: $main-color;
  color: $dark;
  font-weight: 400;
  font-family: 'Josefin Slab', sans-serif;
  text-align: center;
}

// .btn-outline-primary:hover {
//     color: white;
//     background-color: $coral;
//     border-color: #162936;
// }

#uploadButton {
  box-shadow:(2px 2px 2px #5d4c4c);
}

.btn-outline-primary {
  margin: 0.5rem;
}

.auth-forms {
  max-width: 50vh;
  margin: 0 auto;
  input {
    margin: .5rem;
  }
}

h1 {
  font-family: 'Julius Sans One', sans-serif;
  font-weight: bold;
  padding: 1rem;

}

.section-wrapper {
  // opacity: .6;
  transition: 0.3s;
  &:hover {
    // opacity: 1;
  }
}

.image-title {
  margin-top: .8rem;
  margin-bottom: 0;
  font-size: 1.5rem;
  letter-spacing: .2rem;
  font-weight: bold;
}

.text-handlebars {
  text-transform: lowercase;
  float: left;
  text-align: left;
}

.image-description {
  margin-bottom: .6rem;
  margin-top: 0;
}

.data-handlebars {
  float: right;
  text-align: right;
}

.upload-data {
  padding: 1rem;
}

.tags {
  margin-top: 1rem;
}

.modal-open {
    overflow: visible;
}

.modal-title {
  color: #000;
}

nav {
  background-color: $coral;
  text-align: center;

}

.modal-body {
  color: #000;
}

.content {
  // font-family: 'Source Sans Pro', sans-serif;
  // margin-top: 20px;
  // display:flex;
  // @include make-row;
  // justify-content: center;
  // display: flex;
  @include media-breakpoint-up(sm) {
    column-count: 2;
}
  @include media-breakpoint-up(md) {
    column-count: 3;
}
  @include media-breakpoint-up(lg) {
    column-count: 4;
  }
  margin-top: 5vh;
  padding: 1rem;
}

.images {
    background: white;
    border: 1px solid white;
    margin-bottom: 1rem;
    outline: none;
    padding: 1rem;
    // overflow: hidden;
    break-inside: avoid;
    text-align: center;
    position: relative;
    transition: 0.3s;
    box-shadow:(2px 2px 2px #5d4c4c);


    p {
      margin-bottom: 0;
    }

    img {
      max-width: 100%;
    }

    small {
      color: $dark;
      display: block;
      font-size: 1rem;
    }

    &:hover {
      border: 1px solid $coral;
    }
  }

#camera {
  opacity: .9;
  margin: 1rem;
}
